.customers {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 80px;
  margin-bottom: 20px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }

  &__logo {
    flex: 0 0 auto;
    margin-right: 33px;
    animation: tickerLogo 9s linear infinite;

    @mixin atSmall {
      margin-right: 72px;
    }
  }
}

@keyframes tickerLogo {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-369.8px);
  }
}
