.footer {
  color: #fff;
  display: grid;

  @mixin atSmall {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    column-gap: 45px;
  }

  &__links {
    list-style: none;
    padding-left: 0;
  }

  &__links li {
    padding-bottom: 0.4rem;
  }

  &__link {
    color: #fff;
    text-decoration: none;
  }

  &__social-icon {
    padding-right: 20px;
  }
}

.footer h5 {
  font-size: 1rem;
}
