.large-hero {
  position: relative;

  &__title {
    font-size: 1.6rem;
    font-weight: 900;

    @mixin atSmall {
      font-size: 2rem;
    }

    @mixin atMedium {
      font-size: 3rem;
    }

    @mixin atLarge {
      font-size: 4rem;
    }
  }
}
