.page-section {
  padding: 2rem 0;

  @mixin atSmall {
    padding: 2.5rem 0;
  }

  &--t-padding {
    padding-top: 7rem;

    @mixin atSmall {
      padding-top: 6.25rem;
    }

    @mixin atMedium {
      padding-top: 8.75rem;
    }

    @mixin atLarge {
      padding-top: 11.25rem;
    }
  }

  &--first {
    padding: 9rem 0 2.5rem;
  }

  &--blue {
    background-color: $mainBlue;
  }

  &--yellow {
    background-color: $mainYellow;
  }

  &--gray {
    background-color: #f6f7fb;
  }

  &--black {
    background-color: #282828;
  }
}
