.primary-nav {
  &--pull-right {
    float: right;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    display: block;
    padding-right: 20px;

    @mixin atSmall {
      display: inline-block;
    }
  }

  a {
    color: #282828;
    font-weight: 700;
    text-decoration: none;
    display: block;
    padding: 12px 0;
  }
}
