.rurals {
  @mixin atSmall {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 150px;
  }

  &__offer {
    font-size: 1.5rem;

    @mixin atSmall {
      font-size: 2.25rem;
    }
  }
}
