.site-header {
  padding: 20px 0;
  position: absolute;
  width: 100%;
  z-index: 2;

  &--is-expanded {
    background-color: rgba(247, 245, 147, 0.9);
  }

  &__logo {
    position: absolute;
  }

  &__menu-icon {
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-content {
    display: none;
    padding-top: 100px;
    padding-left: 0;

    @mixin atMedium {
      display: flex;
      justify-content: space-between;
      padding-top: 0;
      padding-left: 100px;
    }

    &--is-visible {
      display: block;
    }
  }

  &__search-icon {
    display: inline-block;
    padding-left: 10px;

    @mixin atSmall {
      padding-left: 40px;
    }
  }
}
