.site-header {
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 2;

  &--is-expanded {
    background-color: rgba(247, 245, 147, 0.9);
  }

  &__logo {
    position: absolute;
    max-width: 10%;

    @mixin atSmall {
      max-width: 100%;
    }
  }

  &__menu-icon {
    width: 20px;
    height: 19px;
    position: absolute;
    top: 21px;
    right: 20px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #282828;
      transform-origin: 0 0;
      transition: transform 0.3s ease-out;
    }

    &__middle {
      position: absolute;
      top: 8px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #282828;
      transition: all 0.3s ease-out;
      transform-origin: 0 50%;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #282828;
      transform-origin: 0 100%;
      transition: transform 0.3s ease-out;
    }

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-icon--close-x {
    &::before {
      transform: rotate(45deg) scaleX(1.25);
    }

    .site-header__menu-icon__middle {
      opacity: 0;
      transform: scaleX(0);
    }

    &::after {
      transform: rotate(-45deg) scaleX(1.25) translateY(1px);
    }
  }

  &__menu-content {
    display: none;
    padding-top: 100px;
    padding-left: 0;

    @mixin atMedium {
      display: flex;
      justify-content: space-between;
      padding-top: 0;
      padding-left: 100px;
    }

    &--is-visible {
      display: block;
    }
  }

  &__btn-container {
    display: flex;
    align-items: center;
  }

  &__search-icon {
    display: inline-block;
    padding-left: 10px;

    @mixin atSmall {
      padding-left: 40px;
    }
  }
}
