.sustainability {
  display: grid;

  @mixin atMedium {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  &__animations {
    position: relative;
    width: 524px;
    height: 502px;
    margin: 60px auto;
    display: none;

    &--atsmall {
      display: block;
      margin-top: 60px;

      @mixin atSmall {
        display: none;
      }
    }

    @mixin atSmall {
      display: block;
    }

    &--animation-started #gray1 {
      opacity: 1;
      animation: moveG 1s;
    }

    &--animation-started #blue1 {
      opacity: 1;
      animation: moveB 1s;
    }

    &--animation-started #yellow1 {
      opacity: 1;
      animation: moveY 1s;
    }

    &--animation-started #economy,
    &--animation-started #society,
    &--animation-started #environment {
      opacity: 1;
      animation: dropIn 2s ease;
    }

    &--animation-started #optimization,
    &--animation-started #demand,
    &--animation-started #workability {
      opacity: 1;
      animation: dropIn2 4s ease;
    }

    &--animation-started #sustainability {
      opacity: 1;
      animation: fadeInUp 4s;
    }
  }

  &__text-block {
    position: absolute;
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
}

#gray1 {
  opacity: 0;
  transform: opacity 1s ease-out;
}

#blue1 {
  opacity: 0;
  transform: opacity 1s ease-out;
}

#yellow1 {
  opacity: 0;
  transform: opacity 1s ease-out;
}

@keyframes moveG {
  from {
    transform: translate(-69px, 67px);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes moveB {
  from {
    transform: translate(70px, 67px);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes moveY {
  from {
    transform: translateY(-62px);
  }

  to {
    transform: translateY(0);
  }
}

#economy {
  font-weight: 700;
  font-size: 14px;
  color: #9c9c9c;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  right: 38px;
  top: 135px;
  opacity: 0;
  transform: opacity 1s ease-out;
}

#society {
  font-weight: 700;
  font-size: 14px;
  color: #29bfff;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  left: 51px;
  top: 135px;
  opacity: 0;
  transform: opacity 1s ease-out;
}

#environment {
  font-weight: 700;
  font-size: 14px;
  color: #d7c56a;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  left: 240px;
  bottom: 87px;
  opacity: 0;
  transform: opacity 1s ease-out;
}

@keyframes dropIn {
  0%,
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#optimization {
  left: 203px;
  top: 83px;
  opacity: 0;
  transform: opacity 1s ease-out;
}

#demand {
  left: 77px;
  top: 267px;
  opacity: 0;
  transform: opacity 1s ease-out;
}

#workability {
  left: 312px;
  top: 267px;
  opacity: 0;
  transform: opacity 1s ease-out;
}

@keyframes dropIn2 {
  0%,
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#sustainability {
  font-weight: 700;
  left: 200px;
  top: 196px;
  opacity: 0;
  transform: opacity 1s ease-out;
}

@keyframes fadeInUp {
  0%,
  80% {
    opacity: 0;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
